<div class="container">
  <h1>Forms & Validations</h1>
  <h2>ngModelGroup Demo (No validation done)</h2>

  <form #passwordForm="ngForm" class="row">
    <div class="col-md-4" ngModelGroup="passwords">
      <input type="password" class="form-control" placeholder="Enter Password" name="password" ngModel>
      <br>
      <input type="password" class="form-control" placeholder="Enter Confirm Password" name="confirmPassword" ngModel>
    </div>
  </form>

  <pre>
    {{ passwordForm.value | json }}
  </pre>
  <pre>
    Password Entered: {{ passwordForm.value?.passwords?.password }}
    Confirm Password Entered: {{ passwordForm.value?.passwords?.confirmPassword }}
  </pre>

  <hr>
  
  <h2>Reactive Form with Custom Validator Demo - FormBuilder </h2>
  <h4>Register using FormBuilder approach</h4>
  <p>Why this? Creating form control instances manually can become repetitive when dealing with multiple forms. The FormBuilder service provides convenient methods for generating controls.</p>

  <div class="row">
    <form class="col-md-6" [formGroup]="signupForm" (ngSubmit)="signupHandler()">
      <input type="text" placeholder="Enter Name" class="form-control" formControlName="name">
      <br>
      <input type="email" placeholder="Enter Email" class="form-control" formControlName="email">
      <br>
      <input type="password" placeholder="Enter Password" class="form-control" formControlName="password">
      <br>
      <input type="password" placeholder="Enter Password again" class="form-control" formControlName="retypePassword">
      <div *ngIf="signupForm.get('retypePassword').errors?.mustMatch" class="alert alert-danger">
        Password is not matching
      </div>
      <br>
      <input type="checkbox" formControlName="agreeTerms">Agree to Terms & Conditions
      <br>
      <button type="submit" class="btn btn-primary">Register</button> <!-- [disabled]='signupForm.invalid' -->

      
    </form>

  </div>


  <hr>

  <h2>Template Driven Form With Custom Validator - Demo </h2>

</div>